{% extends 'pbl/base.html' %}

{% block content %}
<h1>
    
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
                    {%  if total_score > 0 %} 
                     <div class="alert alert-success"  style="text-align:center;">
                        Congratulations, your total score is {{ total_score }}. Only your highest score will be counted.
                         
                    </div>
                    {% else %}
                        <div class="alert alert-danger"  style="text-align:center;">
                            Opps your total score is {{ total_score }}. Please try harder.
                             
                        </div>
                    {% endif %}
         </div>
     </div>
   
</h1>
<h2>
     <div class="row">
        <!-- <div class="col-sm-6"> </div> -->
         <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">  Do you want to play again? <a href="{% url 'rand_form' %}" >YES</a>||<a href="{% url 'index' %}" >NO</a></div>
        <!-- <div class="col-sm-6"> </div> -->
     </div>

</h2>
{% endblock %}
