{% extends 'pbl/ido/1/base.html' %}
{% block content %}
        <h2 > Users Profile Edit:</h2>

 <form class="form-horizontal" role="form" method="POST" name="useredit">{% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="John" id="fname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Doe" id="lname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" id="cname"> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="jdoe@gmail.com" id="email">
            </div>
          </div>
         
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="jdoe" id="uname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" id="pwd">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" id="cpwd">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            <button onclick="validate(document.useredit); return false;" type="submit" class="btn btn-primary" >Save Changes</button>
<!-- <button onclick="document.form1.submit();" type="submit" class="btn btn-primary" >Save Changes</button> -->
              <span></span>
              <a href="{% url 'ido1' %}"  class="btn btn-default" value="Cancel" onclick="windows.location.href(home)">Cancel</a>
            </div>
          </div>
        </form>


{% endblock %}