{% extends 'pbl/base.html' %}
{% block content %}

        <div class="jumbotron">
            <h1>Center for Information Assurance </h1>
            <p>The Center for IA is dedicated to providing world-class research, training, and career development for Information Assurance professionals and students alike by organizing community events, special purpose conferences, and vendor specific training programs. For further information regarding the center and its activities please contact The Center for Information Assurance. 
</p>
</div>
{% endblock %}
