<!-- Nice try bubb, there's nothing to look around in this dump. Now pay no attention to the man behind this curtain-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

<!-- All of the css declared items -->
  <style>
    div.solid{
	border: 1px solid black;
	margin: 0px 10px 10px 0px;
	padding-left: 10px;
    }
  </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/favicon.ico">

    <title>A Fuzz-Testing Platform for Web Application Security</title>

    <!-- Bootstrap core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template 
    <link href="css/offcanvas.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">WASELP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
             {% if request.user.is_authenticated %}
	           <li><a href="{% if user.is_superuser %} 
                           {%  url 'score_list' %}
                           {% else %}
                           {% url 'score_details' student_id=request.user.id  %}
                           {% endif %}
                           ">Score</a></li>
              {% endif %}        
             {% if request.user.is_authenticated %}
             <li><a href="{% if user.is_superuser %} 
                           {%  url 'instructor_page' %}
                           {% endif %}
                           ">Instructor Page</a></li>
              {% endif %}
            <li><a href="{% url 'about' %}">About Us</a></li><!-- for the about us information that will be added later when that page is created -->
            <li><a href="{% url 'contact' %}">Contact</a></li><!-- for the contact information that will be added later when that page is created -->
          </ul>
	<div class="navbar-form pull-right"> <a href="{% url 'index' %}">
		{% if request.user.is_authenticated %} 
			Welcome,  
				{% if request.user.first_name %} {{ request.user.first_name }} 
				{% else %} {{ request.user.username }}
				{% endif %}! </a>
				<a href="{% url 'auth_logout' %}">Log out</a>
		{% else %}<a href="{% url 'auth_login' %}">Log In | <a href="{% url 'registration_register' %}">Register </a>
		{% endif %}
	</div>      
  </div><!-- /.nav-collapse -->

	
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  <div class="container">

		    {% block content %}
			<!-- content block goes here -->
		    {% endblock %}

      <hr>

      <footer>
        <p style="text-align:center;">Copyright &copy;  2016 by Center for Information Assurance (CfIA), The University of Memphis. All rights reserved. </br>No part of this publication may be reproduced or transmitted in any form or by any means without permission in writing from CfIA, The University of Memphis </p>
      </footer>


   </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
   
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %} "></script>
    <script src="{% static 'js/offcanvas.js' %}"></script>
    <!--  <script language="JavaScript" type="text/javascript" src="{% static 'js/read_more.js' %}"> </script> -->

  </body>
</html>
