{% extends 'pbl/base.html' %}
{% block content %}
 
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <h3 class = "panel-title" style="text-align:center;">Instructor Hints</h3>
   </div>   
   <div class = "panel-body">


    <div class="row" >
        <div class="col-xs-12 col-sm-4 ">
             <div class = "panel-heading">
                <h3 class = "panel-title" style="text-align:center;">Web Form Challenge Level 0</h3>
             </div>   
             <div class = "panel-body">
              <ul class="list-group-item">
                       <li>Fill out all the required fields in the form.</li>
                       <li>Try to figure out the missing validation or logic in the form submission.</li>
                       <li>Try to submit the form with Shipping information different from Billing information.</li>
                       <li>Enter all the valid data in both section and change data on shipping information section</li>
              </ul>
             </div>
          </div>   
              <div class="col-xs-12 col-sm-4 ">
             <div class = "panel-heading">
                <h3 class = "panel-title" style="text-align:center;">Web Form Challenge Level 1</h3>
             </div>   
             <div class = "panel-body">
                    <ul class="list-group-item">
                      <li>Fill out all the required fields in the form.</li>
                      <li>Try to figure out the missing validation in the form submission.</li>
                      <li>Try to submit the form with Billing information different from Shipping information.</li>
                      <li>Enter all the valid data in both section, then view inspect element and remove the disabled property of any one of the fields in Billing information section, You will get enabled field. Just modify the previous entered data. Finally submit the form and you will get score.</li>
                    </ul>
             </div>
          </div> 
              <div class="col-xs-12 col-sm-4 ">
             <div class = "panel-heading">
                <h3 class = "panel-title" style="text-align:center;">Web Form Challenge Level 2</h3>
             </div>   
             <div class = "panel-body">
                    <ul class="list-group-item">
                      <li>Perform the Form Completion Exercise and figure out the missing validation.</li>
                      <li>Submit the answers on Submission section.</li>
                      <li>Based on correct answer submitted, student will get the score.</li>
                      <li> See the answers set for verfication </li>
                    </ul>
             </div>
          </div> 

    </div>

  </div>
</div>


 
 {% endblock %}
