{% extends 'pbl/base.html' %}

{% block content %}

    {% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">                 
            {% for msg in messages %}       
                <div class="alert alert-success" role="alert">
            {{msg.message}}
            </div>
            {% endfor %}
         </div>
     </div>
    {% endif %}
    <p>
        Check each and every conditional logic while implementing the application.
    </p>

{% endblock %}
